footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/foooter.jpg);
    background-position: 100%;
    background-size: cover;
    min-height: 40vh;
}
footer h1{
    font-weight: 1000;
    cursor: pointer;
}
footer h1 a{
    font-size: 3rem;
    text-transform: uppercase;
    font-family: Roboto;
    color: white;
}
footer h1 span{
    color: red;
}
.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem auto;
}
.footer-links a{
    color: white;
    padding: 2rem;
}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* .social-media li{
    padding: 2rem;
    background-color: yellow;
    border-radius: 50%;
} */
.social-media i{
    color: white;
    font-size: 2rem;
    margin: 0 2rem;
    padding: 1.5rem;
    background-color: #434648;
    border-radius: 50%;
    transition: .6s;
}
.social-media i:hover{
    background-color: red;
}
.copy-right{
    min-height: 10vh;
    background-color: #021118;
    color: #7f8183;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
}
.copy-right span{
    color: red;
}