.life-style{
    height: 60vh;
    position: relative;
    background-image: url(../images/jump.jpg);
    background-position: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}
.life-style-text::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(2,16,23,.75);
   
}
.life-style-text{
    width: 100%;
    height: 110%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.life-style-text div{
    border-radius: 50%;
    background-color: white;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 6rem;
    height: 6rem;
}
.life-style-text div span{
    display: inline-block;
    position: absolute;
    background-color: grey;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: play 1s infinite forwards;

}

.life-style-text div i{
    color: black;
    background-color: white;
    border-radius: 50%;
    padding: 2.5rem;
    z-index: 11;
}
.life-style-text div i:hover{
    background-color: red;
}
.life-style-text h3{
    color: white;
    font-size: 3.6rem;
    z-index: 111;
    padding: 2rem;
}
.life-style-text p{
    color: white;
    z-index: 111;
    font-size: 2rem;
}
@keyframes play{
    from{
        width: 100%;
        height: 100%;
        background-color: white;
    }
    to{
        width: 140%;
        height: 140%;
        background-color: transparent;
    }
}

@media screen and (max-width:992px) {
    .life-style{
        height: 40vh;
    }
    .life-style-text{
        justify-content: flex-end;
    }
}